/*------------------------------------*\
  > Bot Selector
\*------------------------------------*/

.bot-selector {
  text-align: center;
}

.bot-selector .title--primary {
  margin-bottom: 0;
}

.bot-selector .title--secondary {
  margin-top: 0;
  margin-bottom: 50px;
}

.bot-selector__counter {
  position: relative;
  min-height: 502px;
  padding: 34px 0 40px;
  background: url('/images/tax-collector-bot-bg.png') no-repeat center bottom 40px$grey-bonjour;
}

.bot-selector__counter:before {
  content: "";
  display: block;
  width: 100%;
  height: 359px;
  top: 15px;
  position: absolute;
  background: url('/images/bots/bot-tax-collector.gif') no-repeat center top;
}

.bot-selector__counter .counter--large {
  position: relative;
  top: 292px;
}

.bot-selector .cards-list {
  margin: 50px 0 75px;
}

.bot-selector .button--submit {
  float: right;
  margin: 48px 0;
}

.bot-selector__submit {
  max-width: 824px;
}
