/*------------------------------------*\
  > Buttons List
\*------------------------------------*/

.buttons-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.buttons-list__item {
  display: inline-block;
  margin: 0 2px 1rem 0;

  &:last-child {
    margin-right: 0;
  }
}

.buttons-list__item [class*="button"] {
  min-width: 230px;
}

// buttons-list--bitsoil
// ---------------------

.buttons-list--bitsoil .buttons-list__item {
  @include breakpoint($below-md) {
    display: block;
    margin: 0 0 4px;
  }
}

.buttons-list--bitsoil .buttons-list__item [class*="button"] {
  @include breakpoint($below-md) {
    min-width: 0;
    width: 100%;
    max-width: 148px;
    margin: 0 auto;
    padding: 1.2rem 1rem;
    font-size: 1.2rem;
  }
}

// buttons-list--redistribution
// ---------------------

.buttons-list--redistribution .buttons-list__item {
  @include breakpoint($below-sm) {
    display: block;
    margin: 0 0 4px;
  }
}

.buttons-list--redistribution .buttons-list__item [class*="button"] {
  @include breakpoint($below-sm) {
    padding: 1.2rem .5rem;
  }

  @include breakpoint($below-md) {
    display: block;
    padding: 1.4rem 1rem;
    width: 130px;
    min-width: inherit;
    font-size: 1.1rem;
  }

  @include breakpoint($sm-only) {
    width: 155px;
    min-width: inherit;
  }
}

// buttons-list--footer
// ---------------------
.buttons-list--footer .buttons-list__item {
  margin-right: 16px;
  vertical-align: top;

  &:last-child {
    margin-right: 0;
  }
}

.buttons-list--footer .buttons-list__link svg {
  fill: $grey-86;
}

.buttons-list--footer .buttons-list__link:hover svg,
.buttons-list--footer .buttons-list__link:focus svg {
  fill: $grey-74;
}

// Specific case for icon-flanders-state-of-the-art

.icon-flanders-state-of-the-art__foreground {
  fill: $grey-21;
}

.icon-flanders-state-of-the-art__background {
  fill: $grey-86;
}

.buttons-list__link--fsoa:hover .icon-flanders-state-of-the-art__background,
.buttons-list__link--fsoa:focus .icon-flanders-state-of-the-art__background {
  fill: $grey-74;
}

// buttons-list--license
// ---------------------
.buttons-list--license svg {
  margin-right: 2px;

  &:last-child {
    margin-right: 0;
  }
}
