/*------------------------------------*\
  > Buttons List
\*------------------------------------*/

.buttons-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.buttons-list__item {
  display: inline-block;
  margin: 0 2px 1rem 0;

  &:last-child {
    margin-right: 0;
  }
}

.buttons-list__item [class*="button"] {
  min-width: 230px;
}

// buttons-list--bitsoil
// ---------------------

.buttons-list--bitsoil .buttons-list__item {
  @include breakpoint($below-sm) {
    display: block;
    margin: 0 0 4px;
  }
}

.buttons-list--bitsoil .buttons-list__item [class*="button"] {
  @include breakpoint($below-md) {
    min-width: 0;
    width: 100%;
    max-width: 148px;
    margin: 0 auto;
    padding: 1.2rem 1rem;
    font-size: 1.2rem;
  }
}

// buttons-list--redistribution
// ---------------------

.buttons-list--redistribution .buttons-list__item {
  @include breakpoint($below-sm) {
    display: block;
    margin: 0 0 4px;
  }
}

.buttons-list--redistribution .buttons-list__item [class*="button"] {
  @include breakpoint($below-sm) {
    padding: 1.2rem .5rem;
  }

  @include breakpoint($below-md) {
    display: block;
    padding: 1.4rem 1rem;
    width: 130px;
    min-width: inherit;
    font-size: 1.1rem;
  }
}
