/*------------------------------------*\
  > Buttons List
\*------------------------------------*/

.buttons-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.buttons-list__item {
  display: inline-block;
}
