/*------------------------------------*\
  > Button
  All style & mixins for generic buttons
\*------------------------------------*/

.button,
[class*="button--"] {
  border-radius: 0;
  font-family: $font-title-sans-serif;
  display: inline-block;
  border: 0;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

// Button Mixin
// ---------------------

// Button Default
@mixin button-default($color) {
  background-color: $color;
  color: #fff;

  // Hover, focus, active interactions
  &:hover:not([disabled]),
  &:focus:not([disabled]) {
    outline: none;
    background-color: $grey-70;
  }

  &:active:not([disabled]) {
    background-image: none;
    background-color: $grey-70;
  }
}

// Button Default
@mixin button-negative($color) {
  background-color: $color;
  color: $color-primary;

  // Hover, focus, active interactions
  &:hover:not([disabled]),
  &:focus:not([disabled]) {
    outline: none;
    color: $color-secondary;
  }
}

// Button Unstyled
@mixin button-unstyled() {
  display: inline-block;
  border: 0;
  padding: 0;

  // Hover, focus, active interactions
  &:hover:not([disabled]),
  &:focus:not([disabled]) {
    outline-color: $color-primary;
  }
}

// Size Variation
%button-size-default {
  padding: 1.4rem 2.8rem;
  font-size: 1.2rem;
}

%button-size-medium {
  font-size: 1.4rem;
  padding: 2rem 3rem;
}

%button-size-full-width {
  font-size: 1.4rem;
  padding: 2rem 3rem;
  width: 100%;
}

// Button definition
// ---------------------

// Button
.button {
  @extend %button-size-default;
  @include button-default($grey-thunder);
}

.button--md {
  @extend %button-size-medium;
}

// Button Primary
%button--primary,
[class*='button--primary']:not([disabled]) {
  position: relative;
  @include button-default($color-primary);
}

.button--primary {
  @extend %button-size-default;
}

.button--primary--md {
  @extend %button-size-medium;
}

.button--primary--fw {
  @extend %button-size-full-width;
}


// Button Secondary
%button--secondary,
[class*='button--secondary']:not([disabled]) {
  position: relative;
  @include button-default($color-secondary);
}

.button--secondary {
  @extend %button-size-default;
}

.button--secondary--md {
  @extend %button-size-medium;
}

// Button Ternary
%button--ternary,
[class*='button--ternary']:not([disabled]) {
  position: relative;
  @include button-negative(#fff);
}

.button--ternary {
  @extend %button-size-default;
}

.button--ternary--md {
  @extend %button-size-medium;
}

// Button Danger
%button--danger,
[class*='button--danger'] {
  position: relative;
  @include button-default($color-error);
}

.button--danger {
  @extend %button-size-default;
}

// Button Unstyled
%button--unstyled,
[class*='button--unstyled'] {
  @include button-unstyled();
}

// Disable state
%button-disable,
.button[disabled],
[class*="button--"][disabled] {
    cursor: not-allowed;
    pointer-events: none;
    @include button-default($grey-76);
}
