/*------------------------------------*\
  > Cards
\*------------------------------------*/

// Card-list
// ---------------------
.cards-list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;

  @include breakpoint($md) {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
  }
}

// Card
// ---------------------
.card {
  width: 100%;
  background: $grey-bonjour;
  margin-bottom: 2rem;

  @include breakpoint($md) {
    display: flex;
    flex-wrap: wrap;
    width: calc(50% - 30px);
    margin-bottom: 0;

    &:last-child {
      margin-top: 2rem;
    }
  }

  @include breakpoint($lg) {
    width: calc(33.33% - 30px);

    &:last-child {
      margin-top: 0;
    }
  }
}

.card__header,
.card__content,
.card__footer {
  width: 100%;
}


// Card header
// ---------------------
.card__header {
  padding: 20px;
  background-color: $color-primary;
}

.card__title,
.card__subtitle {
  color: #fff;
  margin: 0;
}

.card__title {
  font-size: 2.1rem;
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.card__subtitle {
  font-family: $font-title-secondary-sans-serif;
  font-size: 1.9rem;
}

// Card Content
// ---------------------
.card__content {
  font-family: $font-title-sans-serif;
  font-size: 1.4rem;
  color: $grey-9;
  padding: 45px 25px 0;
}

.card__picture {
  display: block;
  width: 100%;
  max-width: calc(100% + 50px);
}

.card__counter {
  margin-bottom: 20px;
  margin-top: -22px;
  margin-top: -9vw;

  @include breakpoint($sm) {
    margin-top: -22px;
    margin-top: -8.5vw;
  }

  @include breakpoint($md) {
    margin-bottom: 50px;
    margin-top: -40px;
    margin-top: -4.5vw;
  }

  @include breakpoint($lg) {
    margin-top: -40px;
    margin-top: -3vw;
  }

  @include breakpoint($xl) {
    margin-top: -45px;
  }
}

// Card Footer
// ---------------------
.card__footer {
  padding: 28px;
  align-self: flex-end;
}
