/*------------------------------------*\
  > Counter
\*------------------------------------*/

.counter,
.counter--large,
.counter--xl,
.counter--tax,
.counter--simple {
  font-family: $font-counter-sans-serif;
  clear: both;
  font-weight: 400;
}

.counter,
.counter--large {
  display: inline-block;
}

// Counter Prefix
// Artwork display before counter row
// ---------------------
.counter__prefix {
  position: relative;
  display: inline-block;
}

.counter__prefix svg {
  @include center-align(absolute);
}

// Counter Content
// Counter row wrapper (mandatory if counter prefix are needed)
// ---------------------
.counter__content {
  display: inline-block;
}

// Counter Row
// Counter Row / Line of character
// ---------------------
.counter__row {
  border-radius: 2px;
  padding: 4px 5px;
  background: $grey-shark;
  margin-bottom: .4rem;
  line-height: 0;
}

// Counter Block
// Individual character of the counter
// ---------------------
.counter__block {
  display: inline-block;
  text-align: center;
  position: relative;
  background: $orange-macaroni-and-cheese;
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 3px;
  font-size: 2.2rem;
  color: $grey-shark;

  &:last-child {
    margin-right: 0;
  }
}

.counter__block__text {
  @include center-align(absolute);
}

.counter .counter__row .counter__block:last-child,
.counter .counter__row + .counter__row .counter__block:nth-last-child(-n+3),
.counter--large .counter__row .counter__block:last-child,
.counter--large .counter__row + .counter__row .counter__block:nth-last-child(-n+3) {
  background: transparent;
  color: $orange-macaroni-and-cheese;
}

// Counter Unblock
// Individual character of the counter rendered "outside" a block
// For comma, point etc
// ---------------------
.counter__unblock {
  display: inline-block;
  position: relative;
  margin-right: .6rem;
  margin-left: .2rem;
  height: 1.7rem;
  font-size: 6rem;
  color: $orange-macaroni-and-cheese;
}

.counter__unblock .counter__block__text {
  bottom: 0;
  transform: translate(50% 0);
}

// Counter Large
// Normal counter with large dimension
// Use in bot selector
// ---------------------
.counter--large {
  display: inline-block;
}

.counter--large .counter__row {
  padding: 8px;
}

.counter--large .counter__block {
  background: $orange-macaroni-and-cheese;
  width: 2.7rem;
  height: 2.7rem;
  margin-right: 9px;
  font-size: 4rem;
  color: $grey-shark;

  &:last-child {
    margin-right: 0;
  }
}

.counter--large .counter__row {
  margin-bottom: .6rem;
}

.counter--large .counter__unblock {
  margin-left: 0;
}

// Counter XL
// Counter XL variation (not only size)
// Use in total counter
// ---------------------
.counter--xl .counter__prefix {
  background: $color-primary;

  @include breakpoint($below-md) {
    width: 4.3rem;
    height: 4.3rem;
    margin-right: 3px;
  }

  @include breakpoint($md) {
    width: 12.3rem;
    height: 12.3rem;
    margin-right: 9px;
  }
}

.counter--xl .counter__row {
  border-radius: 0;
  background: transparent;
  padding: 0;
  margin-bottom: 3px;


  @include breakpoint($md) {
    margin-bottom: 9px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.counter--xl .counter__row:first-child .counter__block,
.counter--xl .counter__prefix + .counter__row .counter__block {
  background: $color-primary;
}


.counter--xl .counter__block {
  color: #fff;
  background: $grey-thunder;

  &:last-child {
    margin-right: 0;
  }

  @include breakpoint($below-md) {
    width: 2rem;
    height: 2rem;
    margin-right: 3px;
    font-size: 3rem;
  }

  @include breakpoint($md) {
    width: 5.7rem;
    height: 5.7rem;
    margin-right: 9px;
    font-size: 9rem;
  }
}

.counter--xl .counter__block__text {
  // line-height: 0;
}

// Counter Tax Rate
// Use in the hero banner
// ---------------------
.counter--tax {
  display: inline-block;
}

.counter--tax__row {
  letter-spacing: -2px;
  max-width: 102px;
}

.counter--tax__row,
.counter--tax .counter__row {
  padding: 0;
  border-radius: 0;
}

.counter--tax__row:first-child {
  background: $red-cardinal;
  margin-bottom: 1.5rem;
  text-align: right;
  font-size: 3rem;
}

.counter--tax .counter__row {
  background: transparent;
}

.counter--tax__row,
.counter--tax .counter__block {
  color: #fff;
}

.counter--tax .counter__row .counter__block {
  background: $red-cardinal;
  width: 3.2rem;
  height: 3.2rem;
  font-size: 4.4rem;
}

// Counter Simple
// Counter Simple variation (more or less like the default one, but inverted color and no background on row)
// Use in table and profile
// ---------------------

.counter--simple {
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
  position: relative;
}

.counter--simple .counter__row {
  background: transparent;
  padding: 0;
  border-radius: 0;
  margin: 0;
}

.counter--simple .counter__block,
.counter--simple .counter__row .counter__block:last-child {
  color: #fff;
  background: $grey-thunder;
  width: 2rem;
  height: 2rem;
}

.counter--simple .counter__block__text {
  font-size: 3rem;
}

.counter--simple .counter__row .counter__block:first-child {
  display: none;
}

.counter--simple:before {
  content: "";
  display: block;
  width: 15px;
  height: 20px;
  background: url(images/bitsoil-symbol-small.svg) no-repeat;
  position: absolute;
  left: 0;
}
