/*------------------------------------*\
  > Counter
\*------------------------------------*/

.counter,
.counter--large,
.counter--xl {
  font-family: $font-counter-sans-serif;
  clear: both;
}

.counter,
.counter--large {
  display: inline-block;
}

// Counter Prefix
// Artwork display before counter row
// ---------------------
.counter__prefix {
  position: relative;
  display: inline-block;
}

.counter__prefix svg {
  @include center-align(absolute);
}

// Counter Content
// Counter row wrapper (mandatory if counter prefix are needed)
// ---------------------
.counter__content {
  display: inline-block;
}

// Counter Row
// Counter Row / Line of character
// ---------------------
.counter__row {
  border-radius: 2px;
  padding: 4px 5px;
  background: $grey-shark;
  margin-bottom: .4rem;
}

// Counter Block
// Individual character of the counter
// ---------------------
.counter__block {
  display: inline-block;
  text-align: center;
  position: relative;
  background: $orange-macaroni-and-cheese;
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 3px;
  font-size: 2.2rem;
  line-height: 0;
  color: $grey-shark;

  &:last-child {
    margin-right: 0;
  }
}

.counter__block__text {
  @include center-align(absolute);
}

.counter .counter__row .counter__block:last-child,
.counter .counter__row + .counter__row .counter__block:nth-last-child(-n+3),
.counter--large .counter__row .counter__block:last-child,
.counter--large .counter__row + .counter__row .counter__block:nth-last-child(-n+3) {
  background: transparent;
  color: $orange-macaroni-and-cheese;
}

// Counter Unblock
// Individual character of the counter rendered "outside" a block
// For comma, point etc
// ---------------------
.counter__unblock {
  display: inline-block;
  position: relative;
  margin-right: .4rem;
  margin-left: .4rem;
  height: 2rem;
  font-size: 6rem;
  color: $orange-macaroni-and-cheese;
}

// Counter Large
// Normal counter with large dimension
// Use in bot selector
// ---------------------
.counter--large {
  display: inline-block;
}

.counter--large .counter__row {
  padding: 8px;
}

.counter--large .counter__block {
  background: $orange-macaroni-and-cheese;
  width: 2.7rem;
  height: 2.7rem;
  margin-right: 9px;
  font-size: 4rem;
  color: $grey-shark;

  &:last-child {
    margin-right: 0;
  }
}

.counter--large .counter__row {
  margin-bottom: .6rem;
}

.counter--large .counter__unblock {
  margin-left: 0;
}

// Counter XL
// Counter XL variation (not only size)
// Use in total counter
// ---------------------
.counter--xl .counter__prefix {
  background: $color-primary;
  width: 12.5rem;
  height: 12.5rem;
  margin-right: .9rem;
}

.counter--xl .counter__row {
  background: transparent;
  margin-bottom: .9rem;
}

.counter--xl .counter__row:first-child .counter__block,
.counter--xl .counter__prefix + .counter__row .counter__block {
  background: $color-primary;
}

.counter--xl .counter__block {
  width: 5.7rem;
  height: 5.7rem;
  margin-right: 9px;
  font-size: 9rem;
  color: #fff;
  background: $grey-thunder;

  &:last-child {
    margin-right: 0;
  }
}


