/*------------------------------------*\
  > Form
\*------------------------------------*/

// Input like text
// ---------------------
//
@mixin inputText () {
  display: block;
  padding: 16px;
  font-size: 1.2rem;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  width: 100%;
  background: $grey-98;
  line-height: 1;
  border: 1px solid $grey-82;
  outline-color: $color-primary;
  color: $color-text;

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-transform: uppercase;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    text-transform: uppercase;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    text-transform: uppercase;
  }

  &:-moz-placeholder { /* Firefox 18- */
    text-transform: uppercase;
  }
}

[type="text"],
[type="email"],
[type="password"],
[type="date"],
[type="number"],
textarea {
  @include inputText();
}

// Variation for modal--login input text
.modal--login [type="text"],
.modal--login [type="email"],
.modal--login [type="password"] {
  padding: .7rem 1.2rem;

  @include breakpoint($md) {
    padding: 1.1rem 2rem;
  }
}

// textarea
// ---------------------

textarea {
  min-height: 250px;
}

// Checkbox & radio
// ---------------------

// Hide default input
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked,
[type="radio"]:not(:checked),
[type="radio"]:checked {
  opacity: 0;
  position: absolute;
}

// Label styles
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label,
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}

// Fake checkbox Aspect
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  border: 1px solid #000;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  cursor: pointer;
}

/* Fake Checked mark aspect */
[type="checkbox"]:not(:checked) + label:hover:after,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after,
[type="radio"]:not(:checked) + label:hover:after,
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 8px;
  height: 8px;
  left: 5px;
  color: $color-primary;
  transition: all .2s;
}

.checkbox--toggle:not(:checked) + label:hover:after,
.checkbox--toggle:not(:checked) + label:after,
.checkbox--toggle:checked + label:after {
  background-color: $red-guardsman;
}


[type="checkbox"]:not(:checked) + label:hover:after,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  top: 6px;
}

[type="radio"]:not(:checked) + label:hover:after,
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
  top: 50%;
  margin-top: -3px;
}

[type="checkbox"]:not(:checked) + label:after,
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

.checkbox--toggle:not(:checked) + label:after {
  opacity: 1;
  transform: scale(1);
}

/* Hover style */
[type="checkbox"]:not(:checked) + label:hover:after,
/*[type="checkbox"]:focus:not(:checked) + label:after,*/
[type="radio"]:not(:checked) + label:hover:after,
[type="radio"]:focus:not(:checked) + label:after {
  opacity: 1;
  transform: scale(1);
  background: $grey-50;
}

// Checked
[type="checkbox"]:checked + label:after,
[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
  background: $green-fun;
}

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before,
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
  background-color: #000;
}

[type="checkbox"]:disabled + label,
[type="radio"]:disabled + label {
  color: #fff;
}

[type="checkbox"]:disabled + label,
[type="checkbox"]:disabled + label:before,
[type="radio"]:disabled + label,
[type="radio"]:disabled + label:before {
  cursor: not-allowed;
}

/* accessibility */
// [type="checkbox"]:checked:focus + label:before,
// [type="checkbox"]:not(:checked):focus + label:before {
//   border: 1px dotted blue;
// }

// Checkbox specific
// Fake checkbox Aspect
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  // border-radius: 3px;
  left: 0;
  @include vertical-center(absolute);
}

// Fake Checked mark aspect
[type="checkbox"]:not(:checked) + label:hover:after,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  @include vertical-center(absolute);
}

.checkbox label {
  padding-left: 2.5rem;
}

// Radio Specific

// Fake radio Aspect
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
  border-radius: 10px;
}

// Fake Checked mark aspect
[type="radio"]:not(:checked) + label:hover:after,
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
  border-radius: 5px;
}

.radio__label {
  display: inline-block;
  vertical-align: middle;
}

// label
// ---------------------
.field__label {
  margin-bottom: .5rem;
  display: block;
}

.field__label--contact {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}


// Input File
// ---------------------

.input--file {
  @include rem(font-size, 16px);
}

// Input Select
// ---------------------

.Select .Select-control {
  border-radius: 0;
  min-height: 50px;
}

.Select .Select-input {
  min-height: 48px;
}

.Select .Select-input input {
  height: 100%;
  padding: 0;
  line-height: 48px;
  outline-color: $color-primary;
}

.Select .Select-input {
  outline-color: $color-primary;
}

.Select.is-focused:not(.is-open) > .Select-control {
  border-color: inherit;
  box-shadow: 0 0 3px 2px rgba(4, 103, 95, 0.8);
  background: #fff;
}

.Select .Select-placeholder,
.Select--single .Select-placeholder,
.Select--single > .Select-control .Select-value {
  line-height: 48px;
}

.Select .Select-option.is-focused {
  background-color: lighten($blue-cornflower, 5%);
}

.Select .Select-option.is-selected,
.Select .Select-option.is-selected.is-focused {
  background-color: $blue-cornflower;
}


// Errors
// ---------------------


.error-message {
  color: $color-error;
  font-size: 1.2rem;
  position: absolute;
  margin-top: 5px;
}

// fields-grid
// ---------------------

.fields-row {
  @include breakpoint($md) {
    margin-bottom: 58px;
    @include clearfix();
  }
}

.fields-column {
  width: 100%;
  margin-bottom: 2rem;

  @include breakpoint($md) {
    float: left;
    width: calc(50% - 24px);
    margin-bottom: 0;

    &:last-child {
      float: right;
    }

    &:only-child {
      float: none;
      margin: 0 auto;
    }
  }
}

// variation for modal--login

.modal--login .fields-column {
  margin-bottom: 1.5rem;
}

.modal--login .fields-row {
  margin-bottom: 0;
}
