/*------------------------------------*\
  > Hero Banner
\*------------------------------------*/

.hero-banner {
  position: relative;
}

.hero-banner .container {
  margin: 0 1rem;
  padding: 0 1rem;

  @include breakpoint($md) {
    margin: 0 auto;
    padding: 0;
  }

  @include breakpoint($xl) {
    min-width: 1294px;
  }
}

.hero-banner__content {
  @include horizontal-center(absolute);
  text-align: center;
  width: 100%;
}

.hero-banner__title {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 500;
}

// Hero Banner Taxrate
// ---------------------
.hero-banner .taxrate {
  position: absolute;

  @include breakpoint($below-md) {
    width: 298px;
    transform: translateX(-50%);
    bottom: 6px;
    left: 50%;
    text-align: right;
  }

  @include breakpoint($md) {
    bottom: 576px;
    right: 20px;
  }

  @include breakpoint($lg) {
    bottom: 576px;
    left: 84vw;
  }

  @include breakpoint($xl) {
    right: 100px;
    left: inherit;
  }
}

// Hero Banner Bitsoil
// ---------------------
.hero-banner--bitsoil {
  background: url('/images/banner-bitsoil-background-sm.png') repeat-x center 0;

  @include breakpoint($md) {
    background: url('/images/banner-bitsoil-background.png') repeat-x center 0;
  }
}

.hero-banner--bitsoil .container {
  margin: 0 auto;
  padding: 0;

  background: url('/images/banner-bitsoil-sm.gif') no-repeat center 0;
  min-height: 640px;

  @include breakpoint($md) {
    background: url('/images/banner-bitsoil.gif') no-repeat center 0;
    min-height: 770px;
  }
}

.hero-banner--bitsoil .hero-banner__content {
  background: rgba(250, 250, 250, .7);
  max-width: 235px;
  padding: 0 1rem 2rem;
  bottom: 136px;

  @include breakpoint($md) {
    max-width: 740px;
    bottom: 102px;
    padding: 0 1rem 64px;
  }
}

.hero-banner--bitsoil .hero-banner__title {
  color: $grey-shark;
  font-size: 1.7rem;

  @include breakpoint($md) {
    margin: 76px 0 0;
    font-size: 3.1rem;

    &:after {
      width: 100%;
      max-width: 520px;
      display: block;
      content: '';
      height: 2px;
      background: $grey-shark;
      margin: 32px auto 0;
    }
  }
}

.hero-banner--bitsoil .hero-banner__button {
  margin-top: 1rem;

  @include breakpoint($md) {
    margin-top: 44px;
    min-width: 198px;
  }
}

// Hero Banner Redistribution
// ---------------------
.hero-banner--redistribution {
  background: $purple-martinique;
  background-repeat: repeat-x;
  background-position: 50%;

  @include breakpoint($below-md) {
    background-image: url('/images/redistribution/sm/banner-redistribution-bg.png');
    min-height: 360px;
    background-size: auto 100%;
    background-position: 100% 0;
  }

  @include breakpoint($md) {
    background-image: url('/images/redistribution/md/banner-redistribution-bg.png');
    min-height: 759px;
  }

  @include breakpoint($lg) {
    background-image: url('/images/redistribution/lg/banner-redistribution-bg.png');
    min-height: 507px;
  }

  &:before,
  &:after {
    position: absolute;
    content: '';
    display: block;
    background-repeat: no-repeat;
  }

  &:before {
    left: 0;
    width: 164px;
    z-index: z('bannerDecoration') + 1;

    @include breakpoint($below-md) {
      width: 360px;
      height: 269px;
      bottom: 0;
      background-image: url('/images/redistribution/sm/banner-redistribution-hand.png');
    }

    @include breakpoint($md) {
      top: 0;
      width: 242px;
      height: 760px;
      background-image: url('/images/redistribution/md/banner-redistribution-hand.png');
      background-size: 100%;
    }

    @include breakpoint($lg) {
      width: 164px;
      height: 100%;
      background: url('/images/redistribution/lg/banner-redistribution-hand.png');
    }
  }

  &:after {
    right: 0;
    height: 100%;
    width: 833px;
    z-index: z('bannerDecoration');
    top: 0;

    @include breakpoint($below-md) {
      background-image: url('/images/redistribution/sm/banner-redistribution-planet.png');
      background-position: 100% 100%;
    }

    @include breakpoint($md) {
      background-image: url('/images/redistribution/md/banner-redistribution-planet.png');
      background-position: 100% 0;
    }

    @include breakpoint($lg) {
      background-image: url('/images/redistribution/lg/banner-redistribution-planet.png');
    }
  }
}

.hero-banner--redistribution .container {
  background: no-repeat center 0;
  background-size: cover;
  position: relative;
  z-index: z('bannerContent');
  margin: 0 auto;

  @include breakpoint($below-sm) {
    max-width: calc(100% - 80px);
  }

  @include breakpoint($sm) {
    max-width: 50%;
  }

  @include breakpoint($lg) {
    max-width: none;
  }
}

.hero-banner--redistribution .hero-banner__content {
  background: transparent;
  z-index: z('bannerContent');

  @include breakpoint($below-sm) {
    text-align: left;
    // max-width: 50%;
    margin: 0;
    left: 0;
    transform: none;
  }
}

.hero-banner--redistribution .hero-banner__title {
  margin-top: 40px;
  font-size: 1.8rem;
  color: #fff;

  &:after {
    display: none;
  }

  @include breakpoint($md) {
    max-width: none;
    margin-top: 300px;
    margin-bottom: 46px;
    font-size: 2.4rem;
  }

  @include breakpoint($lg) {
    margin-top: 176px;
    position: relative;
    display: inline-block;

    &:after {
      position: absolute;
      display: block;
      content: "";
      width: 82px;
      height: 82px;
      background: url('/images/redistribution/lg/banner-redistribution-title-deco.png');
      top: -15px;
      left: -45px;
    }
  }
}

.hero-banner--redistribution .buttons-list {

  @include breakpoint($below-sm) {
    max-width: 50%;
  }
}

// Hero Banner Installation
// ---------------------
.hero-banner--installation {
  background: #332e35;
}

.hero-banner--installation .container {
  min-height: 632px;
}

.hero-banner--installation .hero-banner__content {
  background: rgba(239, 239, 239, .85);
  max-width: calc(100% - 2rem);
  padding: 0 1rem 2rem;
  bottom: 106px;

  @include breakpoint($md) {
    max-width: 718px;
    padding: 0 1rem 64px;
  }
}

.hero-banner--installation .hero-banner__title {
  color: $grey-shark;

  &:after {
    display: block;
    content: '';
    height: 2px;
    width: calc(100% - 4rem);
    background: $grey-shark;
    margin: 2rem auto 0;
  }

  @include breakpoint($md) {
    margin: 76px 0 0;
    font-size: 3.1rem;

    &:after {
      width: 100%;
      max-width: 520px;
      margin-top: 32px;
    }
  }
}
