/*------------------------------------*\
  > Hero Banner
\*------------------------------------*/

.hero-banner {
  position: relative;
}

.hero-banner .container {
  margin: 0 1rem;
  padding: 0 1rem;

  @include breakpoint($md) {
    margin: 0 auto;
    padding: 0;
  }

  @include breakpoint($xl) {
    min-width: 1294px;
  }
}

.hero-banner__content {
  @include horizontal-center(absolute);
  text-align: center;
  width: 100%;
}

.hero-banner__title {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 500;
}

// Hero Banner Taxrate
// ---------------------
.hero-banner .taxrate {
  position: absolute;

  @include breakpoint($below-md) {
    transform: translateX(-50%);
    top: 100px;
    left: 50%;
  }

  @include breakpoint($md) {
    bottom: 550px;
    right: 20px;
  }

  @include breakpoint($lg) {
    bottom: 576px;
    right: 130px;
  }
}

// Hero Banner Bitsoil
// ---------------------
.hero-banner--bitsoil {
  background: url('/images/banner-bitsoil-background.png') repeat-x center 0;
}

.hero-banner--bitsoil .container {
  background: url('/images/banner-bitsoil.png') no-repeat center 0;
  min-height: 770px;
}

.hero-banner--bitsoil .hero-banner__content {
  background: rgba(250, 250, 250, .7);
  max-width: calc(100% - 2rem);
  padding: 0 1rem 2rem;
  bottom: 106px;

  @include breakpoint($md) {
    max-width: 740px;
    padding: 0 1rem 64px;
  }
}

.hero-banner--bitsoil .hero-banner__title {
  color: $grey-shark;

  &:after {
    display: block;
    content: '';
    height: 2px;
    width: calc(100% - 4rem);
    background: $grey-shark;
    margin: 2rem auto 0;
  }

  @include breakpoint($md) {
    margin: 76px 0 0;
    font-size: 3.1rem;

    &:after {
      width: 100%;
      max-width: 520px;
      margin-top: 32px;
    }
  }
}

.hero-banner--bitsoil .hero-banner__button {
  margin-top: 1rem;

  @include breakpoint($md) {
    margin-top: 44px;
    min-width: 198px;
  }
}

// Hero Banner Redistribution
// ---------------------
.hero-banner--redistribution {
  background: url('/images/banner-redistribution.png') no-repeat center 0;
  background-size: cover;
}

.hero-banner--redistribution .container {
  min-height: 507px;
}

.hero-banner--redistribution .hero-banner__content {
  background: transparent;
}

.hero-banner--redistribution .hero-banner__title {
  margin-top: 176px;
  margin-bottom: 46px;
  font-size: 2.4rem;
  color: #fff;

  &:after {
    display: none;
  }
}

// Hero Banner Installation
// ---------------------
.hero-banner--installation {
  background: #332e35;
}

.hero-banner--installation .container {
  min-height: 632px;
}

.hero-banner--installation .hero-banner__content {
  background: rgba(239, 239, 239, .85);
  max-width: calc(100% - 2rem);
  padding: 0 1rem 2rem;
  bottom: 106px;

  @include breakpoint($md) {
    max-width: 718px;
    padding: 0 1rem 64px;
  }
}

.hero-banner--installation .hero-banner__title {
  color: $grey-shark;

  &:after {
    display: block;
    content: '';
    height: 2px;
    width: calc(100% - 4rem);
    background: $grey-shark;
    margin: 2rem auto 0;
  }

  @include breakpoint($md) {
    margin: 76px 0 0;
    font-size: 3.1rem;

    &:after {
      width: 100%;
      max-width: 520px;
      margin-top: 32px;
    }
  }
}
