/*------------------------------------*\
  > Modal
  Extra custom style for React modal, normaly handle in JS
  https://reactcommunity.org/react-modal/styles/
\*------------------------------------*/

.ReactModal__Overlay {
  z-index: z('modal');
}

// Modal Close
// ---------------------
.modal__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 3.6rem;
  color: $grey-82;
  line-height: 2rem;
  font-weight: 200;

  &:hover,
  &:focus,
  &:active {
    color: $grey-50;
    text-decoration: none;
  }

  @include breakpoint($md) {
    right: 52px;
    top: 60px;
    font-size: 4.6rem;
    line-height: 4.6rem;
  }
}

// Modal Wrapper
// ---------------------
.modal__wrapper {
  display: table;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  padding: 20px;

  @include breakpoint($md) {
    margin: 0 auto;
    width: 100%;
    min-width: auto;
    max-width: 778px;
  }
}

// modal__wrapper

// Modal-container
// ---------------------
.modal__container {
  display: table-cell;
  vertical-align: middle;
}

// Modal Title
// ---------------------
.modal--login .modal__title,
.modal--login .modal__subtitle {
  width: 50%;
}

.modal--login .modal__title {
  @include breakpoint($md) {
    font-size: 2.6rem;
    margin-bottom: 0;
  }
}

.modal--login .modal__subtitle {
  @include breakpoint($md) {
    font-size: 1.6rem;
    margin-top: 0;
  }
}


// Modal Input
// ---------------------
.modal__container [type="text"],
.modal__container [type="email"],
.modal__container [type="password"],
.modal__container [type="date"],
.modal__container [type="number"] {
  border: 1px solid $grey-9;
}

.modal__container .Select-control,
.modal__container .Select-placeholder,
.modal__container .Select-input {
  @include breakpoint($md) {
    min-height: 38px;
  }
}

.modal__container .Select-placeholder,
.modal__container .Select-value {
  @include breakpoint($md) {
    font-size: 1.2rem;
    line-height: 40px !important; // Overide JS style
  }
}

.modal__container .Select-control,
.modal__container .Select.is-open > .Select-control {
  border-color: $grey-9;
}

.modal__container .Select-menu-outer {
  border-color: $grey-9;
}

// Modal Link
// ---------------------
.modal__link {
  cursor: pointer;
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: $font-title-sans-serif;
}

// Modal Submit
// ---------------------
.ReactModal__Content .text-right .button--primary {
  margin-left: 2em;
}

.ReactModal__Content .text-left .button--primary {
  margin-right: 2em;
}

// Modal Form
// ---------------------
.modal__container .fields-row:last-child {
  margin-bottom: 1rem;
}

// Modal Login
// Use for login/signup modal
// ---------------------
.modal--login .modal__wrapper {
  background: url('/images/login/login-background-sm.png') no-repeat 100% 100% $purple-martinique;
  padding: 2rem 3rem;

  @include breakpoint($md) {
    height: auto;
    min-height: 652px;
    max-width: 908px;
    background-image: url('/images/login/login-background-md.png');
    padding: 5.6rem 12rem;
    @include center-align(absolute);
  }
}

.modal--login .modal__container {
  @include breakpoint($md) {
    vertical-align: top;
  }
}

.modal--login .modal__close {
  @include breakpoint($md) {
    top: 5px;
    right: 22px;
  }
}

.modal--login .icon-bitsoil-tax {
  display: block;
  margin: 0 auto 25px;
  width: 135px;
  height: 109px;

  @include breakpoint($md) {
    margin: 0;
    float: left;
    width: 240px;
    height: 194px;
  }
}

.modal--login .login-user {
  @include breakpoint($md) {
    float: right;
    width: 50%;
  }
}

.modal--login .login-user .fields-column {
  @include breakpoint($md) {
    float: none;
    width: 100%;
    margin-bottom: 28px;
  }
}

.modal--login .field__row--extra-link {
  text-align: right;

  @include breakpoint($md) {
    text-align: right;
    clear: right;
  }
}

.modal--login .modal__share {
  margin: 1rem auto 0;
  text-align: center;

  @include breakpoint($md) {
    width: 100%;
    max-width: 205px;
    margin: 50px 0 0;
    position: absolute;
    top: 255px;
  }
}

.modal--login .modal__share__text {
  font-size: 1rem;
  margin: 0;

  @include breakpoint($md) {
    font-size: 1.5rem;
  }
}

.modal--login .button--secondary {
  padding: 1rem 2.4rem;
}

.modal--login .modal__footer {
  position: absolute;
  bottom: 1.5rem;

  @include breakpoint($md) {
    width: 100%;
    left: 0;
    text-align: center;
  }
}

.modal--login .modal__footer .modal__link {
  @include breakpoint($md) {
    font-size: 1.4rem;
  }
}

// Modal Tiny
// Smaller modal (Use for reset password)
// ---------------------
.modal--tiny .modal__header {
  background: $grey-57;
  position: relative;
  padding: 16px 22px 10px;
  width: calc(100% + 40px);
  margin: -20px -20px 0;
  @include clearfix();
}

.modal--tiny .modal__header .modal__close{
  @include vertical-center(absolute);
  right: 20px;
  color: #fff;

  &:hover,
  &:focus {
    color: $grey-82;
  }
}

.modal--tiny .modal__wrapper {
  padding: 20px;

  @include breakpoint($md) {
    padding: 40px 66px;
  }
}

.modal--tiny .fields-row {
  margin-bottom: 22px;
}

// Modal Input in Tiny
// ---------------------
.modal--tiny .modal__container [type="text"],
.modal--tiny .modal__container [type="email"],
.modal--tiny .modal__container [type="password"],
.modal--tiny .modal__container [type="date"],
.modal--tiny .modal__container [type="number"] {
  border: 1px solid $grey-82;
}

.modal--tiny .modal__container .Select-control,
.modal--tiny .modal__container .Select.is-open > .Select-control {
  border-color: $grey-82;
}

.modal--tiny .modal__container .Select-menu-outer {
  border-color: $grey-82;
}
