/*------------------------------------*\
  > Modal
  Extra custom style for React modal, normaly handle in JS
  https://reactcommunity.org/react-modal/styles/
\*------------------------------------*/

.ReactModal__Overlay {
  z-index: z('modal');
}

// Modal Close
// ---------------------
.modal__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 3.6rem;
  color: $grey-82;
  line-height: 2rem;
  font-weight: 200;

  &:hover,
  &:focus,
  &:active {
    color: $grey-50;
    text-decoration: none;
  }

  @include breakpoint($md) {
    right: 52px;
    top: 60px;
    font-size: 4.6rem;
    line-height: 4.6rem;
  }
}

// Modal Wrapper
// ---------------------
.modal__wrapper {
  display: table;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  color: #fff;

  @include breakpoint($md) {
    margin: 0 auto;
    width: 100%;
    min-width: auto;
    max-width: 778px;
  }
}

// Modal-container
// ---------------------
.modal__container {
  display: table-cell;
  vertical-align: middle;
}

// Modal Link
// ---------------------
.modal__link {
  cursor: pointer;
  color: #fff;
  font-size: 1.2rem;
}

// Modal Submit
// ---------------------
.ReactModal__Content .text-right .button--primary {
  margin-left: 2em;
}

.ReactModal__Content .text-left .button--primary {
  margin-right: 2em;
}

// Modal Form
// ---------------------
.modal__container .fields-row:last-child {
  margin-bottom: 1rem;
}
