/*------------------------------------*\
  > Navigation
  Resuable navigation components
\*------------------------------------*/

// Menu
.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu__item {
  position: relative;
  display: inline-block;
  padding: 0 10px;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

.menu__item:after {
  margin-top: 1px; // Small hack to visualy "fix" vertical alignement due to link line-height
  display: block;
  content: "";
  height: 15px;
  width: 1px;
  background: $grey-76;
  @include vertical-center(absolute);
  right: 0;
}

.menu__item:last-child:after {
  display: none;
}

.menu__item__link {
  font-family: $font-title-sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;

  &:visited {
    color: inherit;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

// menu--header
// ---------------------

.menu--header {
  @include breakpoint($below-lg-intermediate-alt) {
    display: none;
    margin-top: 16px;
  }

  @include breakpoint($lg-intermediate-alt) {
    display: inline-block;
    right: 2.5rem;
    text-align: right;
    position: absolute;
    bottom: 0;
    max-width: 64vw;
  }

  @include breakpoint($xl) {
    right: 1.5rem;
  }
}

.menu--header .menu__item {
  @include breakpoint($below-lg-intermediate-alt) {
    display: block;
    padding: 0;
    border-bottom: 1px solid $blue-geyser;
    position: relative;

    // › symbol
    &:after {
      content: "›";
      width: auto;
      height: auto;
      right: 10px;
      margin-top: 0;
      padding-bottom: 2px;
      background: none;

    }

    &:last-child {
      border-bottom: 0;
    }

    &:last-child:after {
      display: block;
      bottom: 0;
    }
  }
}

.menu--header .menu__item__link {
  color: $color-text;

  &.active,
  &:hover,
  &:focus {
    color: $color-primary;
  }

  @include breakpoint($below-lg-intermediate-alt) {
    display: block;
    width: 100%;
    padding: 15px 0;
  }
}

.menu--header .menu__item:last-child .menu__item__link {
  @include breakpoint($below-lg-intermediate-alt) {
    padding-bottom: 0;
  }
}

// Hamburger button
.menu--header__mobile-trigger {
  outline: none;
  position: absolute;
  top: 1.2rem;
  right: 1.7rem;
  padding: .8rem;
  margin: 0;
  cursor: pointer;
  outline-color: $color-primary;
  background: transparent;
  border: 0;

  @include breakpoint($sm) {
    top: 2.5rem;
  }

  @include breakpoint($md) {
    top: 3.8rem;
  }

  @include breakpoint($lg-intermediate-alt) {
    display: none;
  }
}

.menu--header__mobile-trigger .bar {
  height: 2px;
  width: 12px;
  margin-bottom: 2px;
  background: $grey-thunder;

  @include breakpoint($sm) {
    height: 3px;
    width: 20px;
    margin-bottom: 3px;
  }
}

// Menu Footer
// ---------------------
.menu--footer__title {
  display: block;
  width: 100%;
  margin: 0 0 14px;
  padding-bottom: 8px;
  border-bottom: 1px solid $grey-48;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.4rem;
}

a.menu--footer__title {
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: $grey-82;
  }
}

.menu--footer .menu__item {
  display: block;
  padding: 0;

  &:after {
    display: none;
  }
}

.menu--footer .menu__item__link {
  color: $grey-50;
  text-transform: initial;

  &:hover,
  &:focus,
  &:active {
    color: $grey-82;
  }
}
