/*------------------------------------*\
  > Table
\*------------------------------------*/

.table {
  margin: 0 auto;
}

// Table Header
// ---------------------
.table__header__cell {
  padding: 18px;
  background: $grey-48;
  color: #fff;
  font-family: $font-title-sans-serif;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 400;
  position: relative;

  &:after {
    display: block;
    content: "";
    height: calc(100% - 16px);
    width: 1px;
    background: $grey-70;
    @include vertical-center(absolute);
    right: 0;
  }

  &:last-child:after {
    display: none;
  }
}

// Table head large
.table__header__cell--large {
  min-width: 150px;
}

.table__header__cell--xl {
  min-width: 235px;
}

// Table Body
// ---------------------
.table__body {
  background: $grey-bonjour;
}

.table__cell {
  padding: 5px;

  @include breakpoint($md) {
    padding: 5px 46px;
  }
}

.table__cell.nowrap {
  min-width: 150px;
}

.table__row:first-child .table__cell {
  padding-top: 2rem;
}

.table__row:last-child .table__cell {
  padding-bottom: 2rem;
}

// Table footer
// ---------------------
.table__footer {
  background: $grey-bonjour;
}

// Table with alternate row background
// Use for table table--bots
// ---------------------
.table--zebra .table__row:nth-child(even) {
  background: $blue-aqua-haze;
}

.table--zebra .table__cell {
  border-right: 1px solid $grey-iron;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 15px;

  &:last-child {
    border: 0;
  }

  @include breakpoint($md) {
    padding: 35px 15px;
  }
}

.table--zebra .table__row:first-child .table__cell,
.table--zebra .table__row:last-child .table__cell {
  padding: 15px;

  @include breakpoint($md) {
    padding: 35px 15px;
  }
}

// Table Redistribution
// Can be found on page redistribution
// --------------------
.table--redistribution {
  width: 100%;
  /*max-width: 730px;*/
  margin-bottom: 65px;
}

.table--redistribution th:first-child {
  @include breakpoint($md) {
    width: 25%;
  }
}
.table--redistribution th:last-child {
  @include breakpoint($md) {
    width: 75%;
  }
}


.table--redistribution .counter--simple:before {
  @include breakpoint($below-sm) {
    display: none;
  }
}

.table--redistribution .counter--simple {
  @include breakpoint($below-sm) {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0;
  }
}

.table--redistribution .counter--simple .counter__block,
.table--redistribution .counter--simple .counter__row .counter__block:last-child {
  @include breakpoint($below-sm) {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.wallet-id {
  font-family: $font-title-ternary-sans-serif;
  font-size: 1.4rem;
}

// Table Bots
// Can be found on profile
// ---------------------
.table--bots {
  display: block;
  max-width: 100%;
  overflow-x: auto;

  @include breakpoint($lg) {
    min-width: 966px;
  }
}

.bot-picture {
  position: relative;
}

.bot-picture:after {
  content: "";
  display: block;
  background: url('/images/bots/bot-envelop.svg') no-repeat 50%;
  width: 50px;
  height: 18px;
  position: absolute;
  left: 36px;
  bottom: -6px;
}

// Table Counter
// ---------------------

.table__cell--counter__label {
  font-weight: 400;
  font-size: 1.2rem;
  margin-left: 1rem;
}

// table-pagination
// ---------------------
.table-pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 1rem;
}

.table-pagination__item {
  display: inline-block;
  margin: 0 .4rem;
  padding: 0 .8rem 0 0;
  border-right: 1px solid $grey-70;
  line-height: 1;

  &:last-child {
    border-right: 0;
  }
}

.table-pagination__item.selected .table-pagination__button {
  color: $color-primary;
}

.table-pagination__button {
  background: transparent;
  border: 0;
  display: inline-block;
  font-size: 1.4rem;
  color: $color-text;
  padding: 0;
  margin: 0;
  line-height: 0;
  -webkit-appearance: none;

  &:hover,
  &:focus,
  &:active {
    color: $color-primary;
    outline-color: $color-primary;
    text-decoration: none;
  }
}

// Table List
// List inside a table
// Can be found in profile table bots
// ---------------------

.table-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.table-list__item {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

// Table row total
// ---------------------
.table__row--totals .table__cell {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
}
