/*------------------------------------*\
  > Table
\*------------------------------------*/

.table {
  margin: 0 auto;
}

// Table Header
// ---------------------
.table__header {
  border: 1px solid $grey-oslo;
}

.table__header__cell {
  padding: 18px;
  background: $grey-48;
  color: #fff;
  font-family: $font-title-sans-serif;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 400;
  position: relative;

  &:after {
    display: block;
    content: "";
    height: calc(100% - 16px);
    width: 1px;
    background: $grey-70;
    @include vertical-center(absolute);
    right: 0;
  }

  &:last-child:after {
    display: none;
  }
}

// Table Body
// ---------------------
.table__body {
  background: $grey-bonjour;
}

.table__cell {
  padding: 5px 46px;
}

.table__row:first-child .table__cell {
  padding-top: 2rem;
}

.table__row:last-child .table__cell {
  padding-bottom: 2rem;
}

// Table Redistribution
// --------------------
.table--redistribution {
  width: 100%;
  max-width: 730px;
  margin-bottom: 65px;
}

.table--redistribution th {
  width: 50%;
}

.wallet-id {
  font-family: $font-title-ternary-sans-serif;
  font-size: 1.4rem;
}

// Table Counter
// ---------------------

.table__cell--counter {
  text-align: center;
}

.table .counter {
  padding-left: 20px;
  position: relative;
}

.table .counter__row {
  background: transparent;
  padding: 0;
  border-radius: 0;
  margin: 0;
}

.table .counter__block,
.table .counter .counter__row .counter__block:last-child {
  color: #fff;
  background: $grey-thunder;
  width: 2rem;
  height: 2rem;
}

.table .counter__block__text {
  font-size: 3rem;
}

.table .counter .counter__row .counter__block:first-child {
  display: none;
}

.table .counter:before {
  content: "";
  display: block;
  width: 15px;
  height: 20px;
  background: url(images/bitsoil-symbol-small.svg) no-repeat;
  position: absolute;
  left: 0;
}

// table-scroller
// ---------------------
.table-scroller {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.table-scroller__button {
  width: 23px;
  height: 23px;
  background: $grey-9;
}
