/*------------------------------------*\
  > Total Counter
\*------------------------------------*/

.total-counter {
  padding: 35px 0;

  @include breakpoint($md) {
    padding: 70px 0;
  }
}

.total-counter .counter,
.total-counter .counter--xl {
  text-align: center;
  margin-bottom: 25px;

  @include breakpoint($md) {
    margin-bottom: 50px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

// artwork-bitsoil-symbol
// ---------------------
.total-counter .counter--xl .artwork-bitsoil-symbol.artwork-info-symbol {
  @include breakpoint($below-sm) {
    height: 25px;
  }

  @include breakpoint($sm) {
    height: 45px;
  }

  @include breakpoint($md) {
    height: 70px;
  }
}

// artwork-bitsoil-symbol
// ---------------------
.total-counter .counter--xl .artwork-bitsoil-symbol {
  @include breakpoint($below-sm) {
    height: 35px;
  }

  @include breakpoint($sm) {
    height: 63px;
  }

  @include breakpoint($md) {
    height: 98px;
  }
}

// artwork-tax-logo
// ---------------------
.total-counter .counter--xl .artwork-tax-logo {
  display: block;

  @include breakpoint($below-sm) {
    width: 4.3rem;
    height: 4.3rem;
    margin-right: 3px;
  }

  @include breakpoint($sm) {
    width: 8.3rem;
    height: 8.3rem;
    margin-right: 3px;
  }

  @include breakpoint($md) {
    width: 100%;
    height: 100%;
    margin-right: 9px;
  }
}
