/*------------------------------------*\
  > Tweet Selector
\*------------------------------------*/

.tweets-selector {
  background: $grey-91;
  padding: 70px 0;
}

.tweets-selector__content {
  max-width: 824px;
  margin: 0 auto;
}

.tweet__content,
.tweet-schedule__option {
  font-family: $font-title-sans-serif;
  font-size: 1.4rem;
}

// Tweet selector tab
// ---------------------
.tweets-selector .tab__content {
  min-height: 490px;
  width: 340px;
  padding: 228px 33px 33px 0;
  flex-wrap: wrap;
  float: right;
  text-align: left;
  background: url('/images/bot-stamp.svg') no-repeat right 30px top 33px;
  background-size: 185px 138px;
}

// Tweet Content
// ---------------------
.tweet__content {
  margin-bottom: 14px;

  &:before {
    content: "#";
  }
}

// Tweet Schedule
// ---------------------
.tweet-schedule__option {
  display: block;
}
