/*------------------------------------*\
  > Tweet Selector
\*------------------------------------*/

.tweets-selector {
  background: $grey-91;
  padding: 70px 0;

  @include breakpoint($md) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.tweets-selector__content {
  margin: 0 auto;
  padding: 0 20px;

  @include breakpoint($md) {
    max-width: 824px;
    padding: 0;
  }
}

.tweet__content,
.tweet-schedule__option {
  font-family: $font-text-sans-serif;
  font-size: 1.3rem;
}

// Tweet selector tab
// ---------------------
.tweets-selector .tab {
  position: relative;
}

.tweets-selector .tab__content {
  text-align: left;
  padding: 20px;

  @include breakpoint($md) {
    position: relative;
    flex-wrap: wrap;
    min-height: 490px;
    width: 30vw;
    max-width: 340px;
    padding: 228px 33px 33px 0;
    float: right;
    background: url('/images/bot-stamp.svg') no-repeat right 30px top 33px;
    background-size: 185px 138px;
  }
}

.tweets-selector .tab__picture {
  @include breakpoint($below-md) {
    width: 100%;
  }

  @include breakpoint($md) {
    position: absolute;
    left: 0;
    // width: 100%;
  }

  @include breakpoint($lg) {
    width: inherit;
  }
}

// Adaptation for netgiant postcard (tweets-selector--ceos)
.tweets-selector--ceos .tab__picture {
  @include breakpoint($md-only) {
    width: 100%;
    bottom: 0;
  }
}

// Tweet Content
// ---------------------
.tweet__content {
  margin-bottom: 14px;

  &:before {
    content: "#";
  }
}

// Tweet Schedule
// ---------------------
.tweet-schedule__option {
  display: block;
}
