/*------------------------------------*\
  > Variables
\*------------------------------------*/

// Colors
// ---------------------
// Named used (http://name-of-color.com/)

$grey-thunder: #342e30;
$grey-shark: #1d1e1e;
$grey-baltic-sea: #181619;
$grey-porcelain: #f6f8f9;
$grey-bonjour: #e8e6e7;

$green-fun: #046737;
$green-faded-jade: #467373;

$pink-soft-peach: #f4edf1;

$red-cardinal: #bb1a2a;

$blue-aqua-haze: #f0f4f7;
$blue-dark-haze: #f5f7f7;
$blue-porcelaine: #f5f7f8;
$blue-athens-gray: #f5f7f9;

$orange-brandy-punch: #d89032;
$orange-macaroni-and-cheese: #fcc57c;

// Grey shader
$grey-98: #f9f9f9;
$grey-95: #f2f2f2;
$grey-93: #eaeaea;
$grey-91: #e5e5e5;
$grey-76: #bababa;
$grey-70: #aaa;
$grey-63: #999999;
$grey-61: #939393;
$grey-57: #898989;
$grey-48: #727272;
$grey-38: #595959;
$grey-32: #4c4c4c;
$grey-30: #474747;
$grey-21: #333;
$grey-15: #222;
$grey-9: #191919;

// Syntaxic color

$color-error: red;
$color-success: green;

$color-primary: $green-fun;
$color-secondary: $orange-brandy-punch;

$color-text: $grey-thunder;

// Typography
// ---------------------
$base-font-size: 16px;

$font-text-sans-serif: 'Open Sans', sans-serif;
$font-title-sans-serif: 'Asap', sans-serif;
$font-title-secondary-sans-serif: 'Asap Condensed', sans-serif;
$font-title-ternary-sans-serif: 'Overpass Mono', sans-serif;
$font-counter-sans-serif: 'Inversionz Unboxed', Courier;

// Layout
// ---------------------
$site-container-width-md:     1140px;

// Breakpoint
// ---------------------
// Extra small screen high / high resolution phone
$screen-xsh-min:            480px;
// Small screen / tablet
$screen-sm-min:             480px;
// Medium screen / desktop
$screen-md-min:             768px;
// Large screen / wide desktop
$screen-lg-min:             1024px;
// Extra large screen / very wide desktop
$screen-xl-min:             1300px;
// So media queries don't overlap when required, provide a maximum
$screen-sm-max:             ($screen-md-min - 1) !default;
// XS-max using SM-max value as we don't use SM breakpoint
$screen-xs-max:             $screen-sm-max !default;
$screen-md-max:             ($screen-lg-min - 1) !default;

// Z Layer
// ---------------------
$z-layers: (
  "header": 2000,
  "modal": 1600,
  "footer": 1500,
  "menu": 1250
);
