/*------------------------------------*\
  > Grid
  Basic grid system (constent wip)
\*------------------------------------*/

.grid {
  @include breakpoint($md) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.column-3 {
  @include breakpoint($below-sm) {
    margin-bottom: 2rem;
  }

  @include breakpoint($md) {
    width: calc(33% - 37px);
  }
}
