/*------------------------------------*\
  > Typograpphy
  Define all typography global rules heres
  (fontface are handle in fonts.scss file)
\*------------------------------------*/
html {
  font-size: 62.5%;
}

body {
  font-family: $font-text-sans-serif;
  font-size: 1.6rem;
  color: $color-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Title
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title-sans-serif;
  font-weight: 400;
}

.title--primary,
.title--secondary,
.title--ternary {
  text-align: center;
  text-transform: uppercase;
}

.title--primary,
.title--secondary {
  color: #fff;
  padding: 20px;

  @include breakpoint($md) {
    padding: 35px 0;
  }
}

// Primary
.title--primary {
  @include breakpoint($below-sm) {
    font-size: 2rem;
  }

  line-height: 1.6;
  font-weight: 500;
  font-size: 2.6rem;
  background: $color-primary;
}

// Secondary
.title--secondary {
  @include breakpoint($below-sm) {
    font-size: 1.8rem;
  }

  font-size: 2rem;
  background: $color-secondary;
}

// Ternary
.title--ternary {
  display: inline;
  padding: 0;
  position: relative;
  font-weight: 500;
  font-size: 1.6rem;

  &:after,
  &:before {
    @include vertical-center(absolute);
    content: '';
    display: block;
    height: 2px;
    width: 26px;
    background: $color-secondary;
  }

  &:after {
    right: -35px;
  }

  &:before {
    left: -35px;
  }

  @include breakpoint($sm) {
    font-size: 1.8rem;
  }

  @include breakpoint($md) {
    margin: 0 auto;
    font-size: 2.6rem;

    &:after,
    &:before {
      width: 72px;
    }

    &:after {
      right: -103px;
    }

    &:before {
      left: -103px;
    }
  }
}

// Quaternary
.title--quaternary {
  font-size: 1.8rem;
  font-weight: 500;
}

// Title Profile
.title--profile {
  padding: 20px 14px;
  text-transform: uppercase;
  background: $color-primary;
  color: #fff;
  font-weight: 500;
}

// Link
a {
  color: $color-primary;
  text-decoration: none;
  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
    outline-color: $color-primary;
  }
}

// Abbr
abbr[title] {
  border-bottom: 0;
}

// Section Intro
.section-intro {
  text-align: center;
  padding: 42px 0;
}

.section-intro p {
  font-family: $font-title-sans-serif;
  font-size: 1.8rem;
  margin: .8rem 0;
}

// Text-block
// Simple text block that display text centered in the page
.text-block {
  // text-align: center;
  font-weight: 200;
  font-size: 1.6rem;
  line-height: 1.6;
  margin: 32px auto;
  max-width: 80%;
}
