/*------------------------------------*\
  > Typograpphy
  Define all typography global rules heres
  (fontface are handle in fonts.scss file)
\*------------------------------------*/
html {
  font-size: 62.5%;
}

body {
  font-family: $font-text-sans-serif;
  font-size: 1.6rem;
  color: $color-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Title
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title-sans-serif;
  font-weight: 400;
}

.title--primary,
.title--secondary,
.title--ternary {
  text-align: center;
  text-transform: uppercase;
}

.title--primary,
.title--secondary {
  color: #fff;
  padding: 35px 0;
}

// Primary
.title--primary {
  @include breakpoint($below-sm) {
    font-size: 2rem;
  }

  font-weight: 500;
  font-size: 2.6rem;
  background: $color-primary;
}

// Secondary
.title--secondary {
  @include breakpoint($below-sm) {
    font-size: 1.8rem;
  }

  font-size: 2rem;
  background: $color-secondary;
}

// Ternary
.title--ternary {
  display: inline;
  margin: 0 auto;
  font-weight: 500;
  font-size: 1.6rem;
  position: relative;
  padding: 0 52px;

  &:after,
  &:before {
    @include vertical-center(absolute);
    content: '';
    display: block;
    height: 2px;
    width: 36px;
    background: $color-secondary;
  }

  &:after {
    right: 0;
  }

  &:before {
    left: 0
  }

  @include breakpoint($md) {
    padding: 0 103px;
    font-size: 2.6rem;

    &:after,
    &:before {
      width: 72px;
    }
  }
}

// Link
a {
  color: $color-primary;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
    outline-color: $color-primary;
  }
}

// Abbr
abbr[title] {
  border-bottom: 0;
}

