/*------------------------------------*\
  > Footer
\*------------------------------------*/

.main-footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  // padding: 58px 0;
  background: $grey-baltic-sea;
  color: #fff;
  padding: 54px 0;
}

.main-footer__nav {
  margin: 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-footer .column {
  width: 100%;
  margin-bottom: 25px;

  @include breakpoint($sm) {
  }

  @include breakpoint($sm-only) {
    width: calc(50% - 20px);
    margin: 0 0 20px 20px;

    &:nth-child(2n+1) {
      margin-left: 0;
    }
  }

  @include breakpoint($md) {
    flex-basis: 33.333%;

    &:nth-child(3n+1) {
      margin-left: 0;
    }
  }
}

.main-footer .column__content {
  @include breakpoint($md) {
    width: 200px;
  }
}

.main-footer .column:nth-child(2) .column__content,
.main-footer .column:nth-child(3n+5) .column__content,
.main-footer .column:nth-child(7) .column__content {
  @include breakpoint($md) {
   margin: 0 auto;
  }
}

.main-footer .column:nth-child(7) .column__content {
  @include breakpoint($sm-only) {
    margin-top: -4rem;
  }

  @include breakpoint($md) {
    margin-top: -6rem;
  }
}

.main-footer .column:last-child {
  @include breakpoint($md) {
    margin: 0 auto;
  }
}

.main-footer .column:nth-child(3n) .column__content {
  @include breakpoint($md) {
    margin: 0 0 0 auto;
  }
}


// Gluon Logo Specific
// ---------------------

.icon-gluon {
  width: 93px;
  height: 22px;
  background: url('images/footer/partner/gluon-sprite.png') -10px -52px no-repeat;

  &:hover,
  &:focus,
  &:active {
    background-position: -10px -10px;
  }
}

// Erg Logo Specific
// ---------------------

.icon-erg {
  width: 42px;
  height: 22px;
  background: url('images/footer/partner/erg-sprite.png') -10px -52px no-repeat;

  &:hover,
  &:focus,
  &:active {
    background-position: -10px -10px;
  }
}
