/*------------------------------------*\
  > Header
\*------------------------------------*/

.main-header {
  position: fixed;
  padding: 15px 0;
  width: 100%;
  z-index: z('header');
  background: #fff;

  @include breakpoint($md) {
    position: static;
  }
}

// Variation for homepage
.page--home .main-header {
  background: $blue-link-water;
}

// Logo header
// ---------------------
.logo--header {
  @include breakpoint($below-sm) {
    max-width: 170px;
  }

  @include breakpoint($sm) {
    max-width: 270px;
  }
}

.logo--header__picture {
  @include breakpoint($below-md) {
    display: block;
    width: 100%;
  }
}
