/*------------------------------------*\
  > Header
\*------------------------------------*/

.test-block {
  background: #ff0066;
}

.main-header {
  position: fixed;
  padding: 15px 0;
  width: 100%;
  z-index: z('header');
  background: #fff;
  height: auto;

  @include breakpoint($md) {
    position: relative;
  }
}

// Variation for homepage
// .page--home .main-header {
//   background: $blue-link-water;
// }

// logo
// ---------------------
.logo {
  margin: 0;
}

// Logo header
// ---------------------
.logo--header {
  margin-left: 0;

  @include breakpoint($below-sm) {
    max-width: 200px;
  }

  @include breakpoint($sm) {
    max-width: 270px;
  }

  @include breakpoint($xl) {
    margin-left: 1.5rem;
  }
}

.logo--header__picture {
  @include breakpoint($below-md) {
    display: block;
    width: 100%;
  }
}
