/*------------------------------------*\
  > Header
\*------------------------------------*/

.main-header {
  padding: 15px 0;
  width: 100%;
  z-index: z('header');
  background: rgba(250, 250, 250, .95);

  @include breakpoint($md) {
    background: rgba(250, 250, 250, .8);
  }
}

.logo--header {
  @include breakpoint($below-sm) {
    max-width: 170px;
  }

  @include breakpoint($sm) {
    max-width: 270px;
  }
}

.logo--header__picture {
  @include breakpoint($below-md) {
    display: block;
    width: 100%;
  }
}

// Variation for homepage
// ---------------------
.page--home .main-header {
  position: fixed;

  @include breakpoint($md) {
    position: absolute;
  }
}
