/*------------------------------------*\
  > Layout
  All default layout styles
\*------------------------------------*/

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  background: #f0f4f7;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}

.page__content {
  flex: 1 0 auto;
  margin-top: 40px;

  @include breakpoint($sm) {
    margin-top: 60px;
  }

  @include breakpoint($md) {
    margin-top: 0;
  }
}

.page__content {
  max-width: 100%;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  position: relative;
  padding: 0 2.5rem;
  max-width: 100%;

  @include breakpoint($xl) {
    max-width: 1280px;
    padding: 0;
  }
}

