/*------------------------------------*\
  > Profile Page
\*------------------------------------*/

// Profile Header
// ---------------------
.profile__header {
  @include clearfix();
  margin: 92px 0 40px;
  position: relative;
}

// user-summary
// ---------------------

.user-summary__name {
  // margin-left: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

// Section Profile
// ---------------------
.section--profile .section__content {
  margin: 55px 0;
}

// id-card
// ---------------------
.id-card {
  list-style-type: none;
  padding: 0;
}

.id-card__item {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.id-card__item .counter--simple {
  @include breakpoint($below-md) {
    margin: 1rem;
  }

  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;
}

// user-menu
// ---------------------

.user-menu {
  position: absolute;
  top: -55px;
  right: 25px;
  line-height: 0;
  z-index: z('menu');

  @include breakpoint($md) {
    float: none;
    right: 160px;
    top: inherit;
    bottom: 0;
  }
}

.user-menu__button {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  line-height: 0;
}

.user-menu__button svg {
  fill: $grey-50;
}

.user-menu__button:hover svg {
  fill: $color-primary;
}

.user-menu .dropdown__content {
  @include breakpoint($below-md) {
    left: -226px;
    top: -25px;

    &:after {
      left: auto;
      right: -25px;
      top: 6px;
      transform: rotate(90deg);
    }
  }
}


// avatar
// ---------------------
.avatar {
  padding: 0 26px;
  display: inline-block;
  position: relative;
  vertical-align: bottom;

  &:before,
  &:after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    max-width: 144px;
    height: 3px;
    left: 0;
    background: $grey-82;
  }

  &:before {
    top: 35px;
  }

  &:after {
    bottom: 35px;
  }

  @include breakpoint($below-md) {
    margin: 0 auto 20px;
    display: block;

    &:before,
    &:after {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.avatar ._react-file-reader-input {
  cursor: pointer;

  &:after {
    content: "";
    display: block;
    width: 30px;
    height: 24px;
    background: url('/images/icons/icon-camera.svg') no-repeat;
    @include center-align(absolute);
    z-index: z('menu');
  }
}


.avatar__picture {
  display: block;
  position: relative;
  z-index: z('avatar');
  width: 92px;
  height: 92px;

  @include breakpoint($below-md) {
    margin: 0 auto;
  }
}
